<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/Bootstrap/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/font-awesome/css/fontawesome-all.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  </head>
  <body>
     
     {{!-- {{> header}} --}}

       {{{body}}}
  
    
    
    <script src="/javascripts/popper.min.js"></script>
    <script src="/Bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/feather.min.js"></script>
    <script src="/javascripts/Chart.js"></script>
  </body>
</html>

