
{{> dashboardHeader}}
    <div class="container-fluid">
      <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/user/profile">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">Current</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/recent">
                  <span ><i class="fa fa-binoculars"></i></span>
                  List of All Transactions
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/monthly">
                  <span ><i class="fa fa-shopping-basket"></i></span>
                  Monthly Expenditures
                </a>
              </li>
               <li class="nav-item">
                <a class="nav-link active" href="/user/getcategory">
                  <span ><i class="fas fa-chart-line"></i></span>
                  Category Charts
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/monthlyEarning">
                  <span ><i class="far fa-money-bill-alt"></i></span>
                  Monthly Earnings
                </a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="/user/bycategory">
                  <span ><i class="fa fa-shopping-basket"></i></span>
                  Expenditures by Categpry
                </a>
              </li>
            
             
             
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Profile Settings</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
            
             <li class="nav-item">
                <a class="nav-link" href="/user/manualExp">
                  <span ><i class="fa fa-plus"></i></span>
                  Add Expenses
                </a>
              </li>
          
              <li class="nav-item">
                <a class="nav-link" href="/user/update">
                  <span ><i class="fas fa-address-card"></i></span>
                  Profile
                </a>
              </li>
              
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">User Transactions by Category</h1>
         
          </div>

          <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
          
        </main>
      </div>
    </div>
  <script>
    const url = '/user/getcat';
fetch(url,{credentials: 'include'})
.then(res => {if (!res.ok) {
      throw new Error(res.statusText); }   
    return res.json();
  })
  .then(data => {  
    let userDatas = data;
    let label = [];
    let chartData=[];
 
    userDatas.forEach(userData => {
  
    
      label.push([userData._id.category]);
     
      chartData.push([userData.totalAmount]);
    });

   var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: label,
        datasets: [{
            label: ['Your expenses'],
            data:chartData,
            borderWidth: 1,
            backgroundColor: [
                'rgba(34,139,34)',
                'rgba(220,20,60)',
                'rgba(30,144,255)',
                'rgb(255,99,71)'

            ],
           
        }]
    },
    options: {
       
                labels: label,
        
    }
});

  // catches errors in promise chain
  }).catch(error => console.log("Error fetching data"+error));
  
</script>


 

