<div class="container">
    <div id="myChart"></div>
</div>

<script>
    const url = '/chart-data-retrieve';

fetch(url)

  // creates promise to work with response from /api/data
  .then(res => {

    // throws error if there is a problem fetching page
    if (!res.ok) {

      // returns error with response text of error

      throw new Error(res.statusText);

    }

    // returns data from /api/data page in json format to next promise

    return res.json();
    console.log('successful');

  })

  // creates promise with returned data from previous promise
  .then(data => {

    // creates employees variable to store JSON data form /api/data
    let userDatas = data;

    // creates empty employeeInfo array
    let financialInfo = [];

    // loops through data from employee variable
    userDatas.forEach(userData => {

      // pushes values from employees variable to empty employeeInfo array
      financialInfo.push([userData.cart.totalQty,userData.date]);
     

    });

    // creates chart const with employeeInfo array
    const chart = {
      type: 'line',
      series: [
        {
          values: financialInfo
        }
      ]
    };

    // renders zingchart to the page
     zingchart.render({
    id: 'myChart',
    data: chart
  });;

  // catches errors in promise chain
  }).catch(error => console.log("fetch error"));
</script>