
<div class="container">
    <canvas id="myChart" ></canvas>
</div>
<script>
    const url = '/user/getdata';

fetch(url,{credentials: 'include'})
.then(res => {if (!res.ok) {
      throw new Error(res.statusText); }   
    return res.json();
  })
  .then(data => {  
    let userDatas = data;
    let label = [];
    let chartData=[];
 
    userDatas.forEach(userData => {
           const monthNames = ["January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"
];
        var mydate=new Date(userData.date);
       var monthname=monthNames[mydate.getMonth()];
       // var months=mydate.getMonth()+1;
      label.push([monthname]);
      chartData.push([userData.cart.totalPrice]);
    });
   var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: label,
        datasets: [{
            label: ['Your expenses'],
            data:chartData,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }],
            xAxes: [{
                type: 'category',
                labels: label,
            }]
        }
    }
});

  // catches errors in promise chain
  }).catch(error => console.log("Error fetching data"+error));
</script>