{{> header}}
<div class="container">
<form action="/addimage" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleInputEmail1">Product Name</label>
    <input type="text" name="prod_name" class="form-control"  aria-describedby="prod_name" placeholder="Product Name">
   </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Category</label>
    <input type="text" name="category" class="form-control"  aria-describedby="category" placeholder="Product Category">
   </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Product Description</label>
    <textarea class="form-control" id="description" rows="3" name="description"></textarea>
   </div>
   <div class="form-group">
    <label for="exampleInputEmail1">Price</label>
    <input type="number" name="price" class="form-control"  aria-describedby="price" placeholder="Price">
   </div>
<div class="form-group">
    <label for="exampleFormControlFile1">Product Image</label>
    <input type="file" class="form-control-file" id="productImage" name="productImage">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
